In [1]:
!pip install pyodbc sqlalchemy pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyodbc in c:\users\usuari\appdata\roaming\python\python312\site-packages (5.1.0)
Requirement already satisfied: sqlalchemy in c:\users\usuari\appdata\roaming\python\python312\site-packages (2.0.31)
Requirement already satisfied: pandas in c:\users\usuari\appdata\roaming\python\python312\site-packages (2.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\usuari\appdata\roaming\python\python312\site-packages (from sqlalchemy) (4.12.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\usuari\appdata\roaming\python\python312\site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\usuari\appdata\roaming\python\python312\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\usuari\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuari\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\usuari\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\usuari\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

The system cannot find the path specified.

In [2]:
import pandas as pd
# import pyodbc
import sqlalchemy
# import urllib
df = pd.read_csv('Transporte_Publico_Espana.csv',na_values='not_available')

Transformation (use a different file?):
Convert data into a suitable format, normalize or scale variable and feature engineering if necessary.

# Limpieza:

In [3]:
df = df.drop_duplicates(subset='ID_Viaje', keep='first')
df['Fecha'] = pd.to_datetime(df['Fecha'])
df['Ruta'] = df['Ruta'].astype(str)
df['Tipo_Transporte'] = df['Tipo_Transporte'].astype(str)
df['Region'] = df['Region'].astype(str)
df['Dia_Semana'] = df['Dia_Semana'].astype(str)
df.dtypes
df.dropna(inplace=True)

# Subir a SQL:

In [4]:
connection_url = sqlalchemy.engine.URL.create(
    "mssql+pyodbc",
    username="ASUSSTAR\\Fran",
    host="ASUSSTAR\\SQLEXPRESS",
    database="master",
    query={
        "driver": "ODBC Driver 17 for SQL Server",
        "TrustServerCertificate": "yes",
        "authentication": "ActiveDirectoryIntegrated",
    },
)
print(connection_url)

mssql+pyodbc://ASUSSTAR%5CFran@ASUSSTAR\SQLEXPRESS/master?TrustServerCertificate=yes&authentication=ActiveDirectoryIntegrated&driver=ODBC+Driver+17+for+SQL+Server

In [5]:
engine = sqlalchemy.create_engine(connection_url)

In [6]:
df.to_sql('TransportePublicoEspana_II', engine, index=False, if_exists='replace')

108

In [7]:
sql_df = pd.read_sql('TransportePublicoEspana', engine)
sql_df.head()

,ID_Viaje,Fecha,Ruta,Numero_Pasajeros,Duracion_Viaje_Minutos,Retraso_Minutos,Tipo_Transporte,Region,Dia_Semana
0,2,2023-01-01 00:01:00,Malaga - Sevilla,99.0,192.0,58,Tren,Barcelona,Sunday
1,3,2023-01-01 00:02:00,Madrid - Zaragoza,10.0,94.0,119,Autobús,Madrid,Sunday
2,4,2023-01-01 00:03:00,Sevilla - Madrid,96.0,650.0,2,Metro,Malaga,Sunday
3,5,2023-01-01 00:04:00,Madrid - Malaga,22.0,335.0,51,Autobús,Sevilla,Sunday
4,6,2023-01-01 00:05:00,Madrid - Zaragoza,41.0,584.0,68,Metro,Barcelona,Sunday

In [8]:
df.to_excel('TransportePublicoEspana_limpio.xlsx', index=False)

# Análisis:

Datos no realistas:
Malaga - Sevilla en coche tarda 130-140 minutos segun Google Maps. Los datos muestran que el trayecto en bus se ha completdado en rangos de tiempo muy distantes entre ellos, ademas hay registros de 60 o 20 minutos, lo que no es posible. Ademas, un viaje de duracion 23 minutus y retraso 80 minutos, no tiene sentido. Teniendo en cuenta esto voy a intentar ver que tipo de transporte es el mas eficiente basandome en la duracion, retraso, y mayor capacidad de pasajeros.

In [9]:
df[(df['Ruta']=='Malaga - Sevilla') & (df['Tipo_Transporte']=='Autobús')].sort_values(['Fecha','Tipo_Transporte'],ascending=True).head(30)

,ID_Viaje,Fecha,Ruta,Numero_Pasajeros,Duracion_Viaje_Minutos,Retraso_Minutos,Tipo_Transporte,Region,Dia_Semana
28,29,2023-01-01 00:28:00,Malaga - Sevilla,80.0,576.0,23,Autobús,Valencia,Sunday
33,34,2023-01-01 00:33:00,Malaga - Sevilla,90.0,362.0,37,Autobús,Sevilla,Sunday
67,68,2023-01-01 01:07:00,Malaga - Sevilla,94.0,546.0,115,Autobús,Valencia,Sunday
112,113,2023-01-01 01:52:00,Malaga - Sevilla,56.0,367.0,85,Autobús,Sevilla,Sunday
174,175,2023-01-01 02:54:00,Malaga - Sevilla,48.0,468.0,11,Autobús,Malaga,Sunday
198,199,2023-01-01 03:18:00,Malaga - Sevilla,19.0,316.0,110,Autobús,Barcelona,Sunday
233,234,2023-01-01 03:53:00,Malaga - Sevilla,32.0,413.0,87,Autobús,Zaragoza,Sunday
286,287,2023-01-01 04:46:00,Malaga - Sevilla,80.0,23.0,89,Autobús,Zaragoza,Sunday
324,325,2023-01-01 05:24:00,Malaga - Sevilla,60.0,252.0,53,Autobús,Madrid,Sunday
390,391,2023-01-01 06:30:00,Malaga - Sevilla,52.0,129.0,50,Autobús,Bilbao,Sunday
404,405,2023-01-01 06:44:00,Malaga - Sevilla,95.0,136.0,46,Autobús,Sevilla,Sunday
436,437,2023-01-01 07:16:00,Malaga - Sevilla,37.0,241.0,17,Autobús,Valencia,Sunday
454,455,2023-01-01 07:34:00,Malaga - Sevilla,94.0,718.0,36,Autobús,Valencia,Sunday
503,504,2023-01-01 08:23:00,Malaga - Sevilla,32.0,62.0,10,Autobús,Zaragoza,Sunday
528,529,2023-01-01 08:48:00,Malaga - Sevilla,57.0,380.0,102,Autobús,Valencia,Sunday
677,678,2023-01-01 11:17:00,Malaga - Sevilla,58.0,94.0,50,Autobús,Zaragoza,Sunday
695,696,2023-01-01 11:35:00,Malaga - Sevilla,59.0,113.0,76,Autobús,Sevilla,Sunday
723,724,2023-01-01 12:03:00,Malaga - Sevilla,50.0,518.0,58,Autobús,Valencia,Sunday
758,759,2023-01-01 12:38:00,Malaga - Sevilla,35.0,244.0,49,Autobús,Valencia,Sunday
798,799,2023-01-01 13:18:00,Malaga - Sevilla,75.0,227.0,86,Autobús,Madrid,Sunday
833,834,2023-01-01 13:53:00,Malaga - Sevilla,77.0,667.0,111,Autobús,Barcelona,Sunday
843,844,2023-01-01 14:03:00,Malaga - Sevilla,24.0,696.0,53,Autobús,Barcelona,Sunday
860,861,2023-01-01 14:20:00,Malaga - Sevilla,16.0,264.0,86,Autobús,Bilbao,Sunday
875,876,2023-01-01 14:35:00,Malaga - Sevilla,20.0,362.0,96,Autobús,Zaragoza,Sunday
903,904,2023-01-01 15:03:00,Malaga - Sevilla,97.0,668.0,50,Autobús,Valencia,Sunday
945,946,2023-01-01 15:45:00,Malaga - Sevilla,72.0,126.0,30,Autobús,Valencia,Sunday
975,976,2023-01-01 16:15:00,Malaga - Sevilla,41.0,650.0,52,Autobús,Bilbao,Sunday
1069,1070,2023-01-01 17:49:00,Malaga - Sevilla,25.0,392.0,57,Autobús,Sevilla,Sunday
1095,1096,2023-01-01 18:15:00,Malaga - Sevilla,14.0,423.0,94,Autobús,Sevilla,Sunday
1105,1106,2023-01-01 18:25:00,Malaga - Sevilla,63.0,519.0,110,Autobús,Sevilla,Sunday

In [10]:
df_filtered = df[['Fecha','Numero_Pasajeros','Duracion_Viaje_Minutos','Retraso_Minutos','Tipo_Transporte','Ruta']]
df_filtered.groupby(['Ruta','Tipo_Transporte']).mean().sort_values(['Ruta','Duracion_Viaje_Minutos'],ascending=True)

                                                             Fecha  \
Ruta                 Tipo_Transporte
Barcelona - Bilbao   Tranvía         2023-02-04 07:49:35.470941952
                     Autobús         2023-02-04 10:23:18.039376640
                     Tren            2023-02-05 11:05:02.563482624
                     Metro           2023-02-05 09:34:47.671233024
Barcelona - Valencia Tren            2023-02-04 15:46:10.169903104
                     Metro           2023-02-05 03:12:49.674763264
                     Autobús         2023-02-04 23:41:17.317073152
                     Tranvía         2023-02-04 15:44:10.049382656
Bilbao - Madrid      Tranvía         2023-02-04 18:14:13.507728896
                     Tren            2023-02-04 10:34:20.597371648
                     Metro           2023-02-04 09:40:24.693140992
                     Autobús         2023-02-04 14:23:29.596837888
Madrid - Barcelona   Metro           2023-02-05 03:21:39.694214912
                     Tranvía         2023-02-04 12:53:54.523618816
                     Tren            2023-02-05 01:51:32.642487040
                     Autobús         2023-02-05 02:18:15.201680640
Madrid - Malaga      Tranvía         2023-02-04 04:22:22.375354624
                     Tren            2023-02-05 02:44:34.736841984
                     Metro           2023-02-04 22:21:07.279322880
                     Autobús         2023-02-04 00:34:22.440191488
Madrid - Zaragoza    Autobús         2023-02-04 00:23:40.218446592
                     Tranvía         2023-02-04 14:10:46.315365888
                     Metro           2023-02-05 12:20:50.571081472
                     Tren            2023-02-05 03:17:42.187110144
Malaga - Sevilla     Tren            2023-02-04 11:17:24.513422848
                     Autobús         2023-02-04 06:50:20.414422016
                     Tranvía         2023-02-04 22:22:28.100078080
                     Metro           2023-02-05 19:00:43.277890560
Sevilla - Madrid     Autobús         2023-02-04 19:07:35.388802304
                     Tranvía         2023-02-04 10:56:32.747899136
                     Tren            2023-02-04 05:09:05.121649408
                     Metro           2023-02-04 13:55:07.924528128
Valencia - Sevilla   Tranvía         2023-02-04 19:18:33.823652352
                     Metro           2023-02-05 00:16:51.170651392
                     Autobús         2023-02-04 21:24:03.427866880
                     Tren            2023-02-04 01:31:43.436482048
Zaragoza - Barcelona Tranvía         2023-02-04 05:45:36.565495296
                     Metro           2023-02-05 10:14:00.932896768
                     Tren            2023-02-03 23:49:00.434957824
                     Autobús         2023-02-04 08:08:29.248181248

                                      Numero_Pasajeros  \
Ruta                 Tipo_Transporte
Barcelona - Bilbao   Tranvía                 54.544689
                     Autobús                 55.153815
                     Tren                    54.201532
                     Metro                   54.706688
Barcelona - Valencia Tren                    56.205502
                     Metro                   54.085220
                     Autobús                 54.803659
                     Tranvía                 54.910700
Bilbao - Madrid      Tranvía                 54.296472
                     Tren                    54.756671
                     Metro                   54.012034
                     Autobús                 53.418182
Madrid - Barcelona   Metro                   54.204959
                     Tranvía                 53.898719
                     Tren                    54.025110
                     Autobús                 54.004202
Madrid - Malaga      Tranvía                 54.950547
                     Tren                    54.106055
                     Metro                   54.677549
                     Autobús                 55.100478
Madrid - Zaragoza    Autobús                 54.870550
                     Tranvía                 54.929204
                     Metro                   54.292831
                     Tren                    54.890229
Malaga - Sevilla     Tren                    54.411493
                     Autobús                 54.228761
                     Tranvía                 54.366693
                     Metro                   55.036917
Sevilla - Madrid     Autobús                 54.200233
                     Tranvía                 53.773950
                     Tren                    53.506392
                     Metro                   54.586110
Valencia - Sevilla   Tranvía                 54.695779
                     Metro                   54.089860
                     Autobús                 54.528155
                     Tren                    54.167752
Zaragoza - Barcelona Tranvía                 54.575080
                     Metro                   54.636661
                     Tren                    54.889247
                     Autobús                 53.682296

                                      Duracion_Viaje_Minutos  Retraso_Minutos
Ruta                 Tipo_Transporte
Barcelona - Bilbao   Tranvía                      367.588377        59.028858
                     Autobús                      368.455701        59.517227
                     Tren                         371.349859        58.514309
                     Metro                        372.027800        58.946011
Barcelona - Valencia Tren                         362.158981        59.479773
                     Metro                        367.799094        60.372993
                     Autobús                      370.356504        59.660569
                     Tranvía                      372.876543        59.156379
Bilbao - Madrid      Tranvía                      364.936187        60.311930
                     Tren                         365.326961        58.852648
                     Metro                        367.539110        58.988367
                     Autobús                      371.217787        59.901581
Madrid - Barcelona   Metro                        361.325620        59.396694
                     Tranvía                      362.845476        59.170937
                     Tren                         369.736150        58.963332
                     Autobús                      370.961345        59.260924
Madrid - Malaga      Tranvía                      355.864208        58.942846
                     Tren                         365.111991        58.579343
                     Metro                        367.542120        58.291012
                     Autobús                      368.876396        59.312600
Madrid - Zaragoza    Autobús                      364.146036        59.127832
                     Tranvía                      364.354385        58.848351
                     Metro                        365.184285        60.390846
                     Tren                         367.117672        58.913929
Malaga - Sevilla     Tren                         364.541107        58.704279
                     Autobús                      367.483216        59.008703
                     Tranvía                      367.913995        59.241986
                     Metro                        377.530223        59.078296
Sevilla - Madrid     Autobús                      360.075039        59.033437
                     Tranvía                      362.853361        60.270588
                     Tren                         364.174433        59.783505
                     Metro                        368.995986        58.673224
Valencia - Sevilla   Tranvía                      365.893021        58.671542
                     Metro                        366.989695        60.221352
                     Autobús                      368.073572        59.579120
                     Tren                         371.360342        59.778094
Zaragoza - Barcelona Tranvía                      359.795527        60.856230
                     Metro                        364.336334        59.497954
                     Tren                         364.548933        59.412807
                     Autobús                      376.282134        59.456750

# Tableau Dashboard:
https://public.tableau.com/views/TransportePublicoEspana/Dashboard1?:language=en-US&publish=yes&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link